env
.env 

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
env2/
env3/
*.venv
*.env
*.venv3

# IDE specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# Local configurations
*.bak
*.swp
*.cache
*.DS_Store
*.pyc

# Ignore setup.cfg files created by Python projects
setup.cfg

# Ignore pip's cache
pip-wheel-metadata/
